body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/pexels-dids-2508565.jpg");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}
.container{
    position: absolute;
    left: 35%;
    top: 35%;
    font-size: 21px;
    background: #352e2c;
    padding: 34px 101px;
}

h1 {
    color: #ee5a3f;
}

#message-el {
    font-style: italic;
}

button {
    color: white;
    width: 150px;
    background: #ee5a3f;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}